# SDEV-220 | Module Three
*Programming Assignment - Lists and Functions*

## Chapter 7

**Things to Do**

#### 7.1 
Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday.

In [42]:
years_list = [1988, 1989, 1990, 1991, 1992, 1993]

#### 7.2
In which year in years_list was your third birthday?

In [43]:
third_birthday_year = years_list[3]
print(third_birthday_year)

1991

#### 7.3 
In which year in years_list were you the oldest?

In [44]:
oldest_year = years_list[-1]
print(oldest_year)

1993

#### 7.4
Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [45]:
things = ["mozzarella", "cinderella", "salmonella"]

#### 7.5 
Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [46]:
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

#### 7.6 
Make the cheesy element of things all uppercase and then print the list.

In [38]:
things[0] = things[0].upper()
print(things)

['MOZZARELLA', 'Cinderella', 'salmonella']

#### 7.7 
Delete the disease element from things, collect your Nobel Prize, and print the list.

In [39]:
del things[2]
print(things)

['MOZZARELLA', 'Cinderella']

## Chapter 9

*Things to Do*

#### 9.1 
Define a function called good() that returns the following list: ['Harry', 'Ron', 'Hermione'].

In [40]:
def good():
    return ['Harry', 'Ron', 'Hermione']

print(good())

['Harry', 'Ron', 'Hermione']

#### 9.2 
Define a generator function called get_odds() that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.

In [41]:
def get_odds():
    for number in range(10):
        if number % 2 != 0:
            yield number

count = 0
for odd in get_odds():
    count += 1
    if count == 3:
        print(odd)
        break

5